.page {
  max-width: 1024px;
  margin: 0 auto;
  display: grid;
  grid-template:
    "main title" auto
    "main code" 1fr
    "cont cont" 80px / 1fr auto;

  --grid-bg-color: #ffffff;
  --grid-gap-color: #222222;
  --grid-fg-color: #666666;
  --code-bg-color: #d3d3d3;
  --code-fg-color: black;
  --cont-bg-color: #e8e8e8;
  --grid-active-bg-color: #88ddff;
  --grid-active-fg-color: #2233ff;

  --grid-font-size: 24px;
}

@media (max-width: 700px) {
  .page {
    grid-template:
      "title" auto
      "code" auto
      "main" auto
      "cont" 80px / 1fr;
  }
  .page code {
    font-size: 1em;
  }
}

@media (max-width: 750px), (max-height: 460px) {
  .page {
    --grid-font-size: 18px;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --grid-bg-color: #222222;
    --grid-gap-color: #ffffff;
    --grid-fg-color: #aaaaaa;
    --cont-bg-color: #292929;
    --code-bg-color: #494949;
    --code-fg-color: white;
    --grid-active-bg-color: #086f98;
    --grid-active-fg-color: #dddeeb;
  }
}

.titleArea {
  grid-area: title;
  margin: 0;
  height: 40px;
  padding: 0 0.5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  background-color: #eeffee;
  color: black;
  font-size: 1.2em;
}

.mainArea {
  grid-area: main;
}

.mainGridContainer {
  max-width: calc(100vh - 80px);
  max-height: calc(100vh - 80px);
  margin: 0 0 0 auto;
  display: grid;
  grid-template: auto 1fr / 1fr;
  z-index: 0;
}

.mainGrid {
  grid-area: 1 / 1;
}

.cheatGrid {
  grid-area: 1 / 1;
  z-index: 1;
  pointer-events: none;
}

.defs {
  max-height: calc(100vh - 120px);
  grid-area: code;
  background-color: var(--code-bg-color);
  color: var(--code-fg-color);
  overflow: auto;
  scrollbar-gutter: stable;
}

.eachDef {
  padding: 0.5em;
}

.normalItem, .selectedItem {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--grid-bg-color);
  color: var(--grid-fg-color);
  font-size: var(--grid-font-size);
}

.cheatItem {
  background-color: #ffff44;
  opacity: 0.5;
}

.cheatSubgrid {
  display: grid;
  background-color: #ffbbbb;
  opacity: 0.2;
}

.controlGrid {
  grid-area: cont;
  background-size: auto auto;
  background-color: var(--body-bg-color);
  background-image: repeating-linear-gradient(120deg, transparent, transparent 25px, var(--cont-bg-color) 25px, var(--cont-bg-color) 40px );
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  padding: 0 1em;
  gap: 1em;
}

.controlGrid :is(a, button) {
  display: inline-block;
  width: max-content;
  border-radius: 0.75em;
  padding: 0.25em 0.5em;
  background-color: #888888;
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: calc(10px + 2vmin);
}

.controlGrid button.goToTop {
  justify-self: start;
}

.controlGrid button.check {
  background-color: #0cb826;
}

.controlGrid button.cheat {
  background-color: #eebc18;
  color: black;
}

.controlGrid button.wrong {
  background-color: #1d6fb6;
}

.tutorialArea {
  grid-row: main;
  grid-column: 1 / -1;
  padding: 1em;
}