.grid {
  display: grid;
  gap: 1px;
  aspect-ratio: 1 / 1;
  padding: 1px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
}

.gridHasGrid {
  background-color: var(--grid-gap-color);
}

.gridHasGrid :where(.normalItem, .selectedItem) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--grid-bg-color);
  color: var(--grid-fg-color);
  font-size: 24px;
  overflow: hidden;
}

.selectedItem {
  background-color: #88ddff;
  color: #2233ff;
}